html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #305f72;
}

canvas {
  display: block;
}
